body{ background-color: #ffffff;
    
}

section{
    margin-top:1% ;
    background-color:#9090ff;
    
    width:80%;
    height:900px;
 margin-left: 10%;
 box-shadow: 10px 10px 10px black;
}
button{
    background-color:  #ffffff;
    width: 10%;
    height:8%;
    margin-left:1%;
    border-color:white ;
    box-shadow:3px 3px 3px black;
}
head{
    text-align: center;
}
h1#text{
    margin-right: 3%;
    margin-left: 3%;
    color:"white"
}
img{
    margin-top: 5%;
    margin-left: 5%;
    width: 40%;
    height: 40%;
}
h1#titulo{
    text-align: center;
}